$primary: #ffffff;
$fontColorMain: #3c3c3c; //fonts
$fontColorDesc: #797979; //fonts
$footer: #303030; 
$hovergrey: #f2f2f2;
$red: #e2574c; 
$grey: #fbfbfb;
$grey2: #f6f6f6;
$grey3: #e6e6e6;
$grey4: #f2f2f2;
$dotgrey: #c0c0c0;